body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
main {
  width: 450px;
  margin: 30px auto;
  padding: 25px;
  background-color: white;
}
label,
input {
  display: block;
}
label {
  margin-top: 15px;
  font-weight: bold;
}
input {
  width: 100%;
  margin-top: 5px;
  padding: 8px;
}
button {
  margin-top: 20px;
  padding: 10px 15px;
  border: 0;
  background-color: #a64b2a;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: #7f351e;
}
